html, body {
  margin: 20px;
}

body {
  font-family: Lato,Helvetica,Arial,sans-serif;
}

li.person {
  background-color: black;
  color: white;
  padding: 3px;
  margin: 5px;
  list-style-type: none;
  border-radius: 2px;
  border: 2px solid transparent;
  cursor: pointer;

  &.present {
    background-color: orange;
  }

  &:hover {
    border: 2px solid skyblue;
  }

  span.person-close {
    float: right;
  }
}

.sect-entry {
  margin-top: 50px;
}
